{% extends "index.html" %}
{% block title %}Collaborative Works - Añadir Detalles al Proyecto{% endblock %}

{% block content %}


<div class="container">
  <div class="jumbotron">
    <h1><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Detalles al Proyecto {{ project.project_name }}</h1><hr>      
    <p>Complete los datos solicitados </p><hr>
    
     <form method="POST">
      <div class="form-group">
        <label for="leader">Lider / Responsable:</label>
        <input type="text" class="form-control" id="leader" name="leader" placeholder="Ingrese el nombre del encargado del proyecto">
      </div>
      <div class="form-group">
        <label for="contributors">Contribuyentes:</label>
        <input type="text" class="form-control" id="contributors" name="contributors" placeholder="Ingrese los contribuyentes al proyecto. Ej.: Contribuyente 1 / Contribuyente 2 / ....">
      </div>
      <div class="form-group">
        <label for="task_details">Detalle de Tareas:</label>
        <textarea class="form-control" rows="5" id="task_details" name="task_details" placeholder="Ingrese detalles del Proyecto"></textarea>
      </div>
      
      <div class="form-group">
        <label for="main_activity">Actividades Principales:</label>
        <textarea class="form-control" rows="5" id="main_activity" name="main_activity" placeholder="Ingrese las actividades principales"></textarea>
      </div>
      <div class="form-group">
        <label for="results">Resultados Esperados:</label>
        <textarea class="form-control" rows="5" id="results" name="results" placeholder="Describa los resultados esperados"></textarea>
      </div>
      
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Guardar</button>
    </form> 
  
  </div>
        
</div>


{% endblock %}