{% extends "index.html" %}
{% block title %}Collaborative Words - Editar Proyecto{% endblock %}

{% block content %}


<div class="container">
  <div class="jumbotron">
    <h1><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Proyecto</h1><hr>      
    <p>Complemente y/o edite los datos del proyecto</p><hr>
    
     <form method="POST">
      <div class="form-group">
        <label for="project_name">Nombre del Proyecto:</label>
        <input type="text" class="form-control" id="project_name" name="project_name" value="{{ project.project_name }}" placeholder="Ingrese el nombre o descripción del proyecto">
      </div>
      <div class="form-group">
        <label for="objetives">Objetivos:</label>
        <textarea class="form-control" rows="5" id="objetives" name="objetives" placeholder="Ingrese los objetivos del Proyecto">{{ project.objetives }}</textarea>
      </div> 
      
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Actualizar</button>
    </form> 
  
  </div>
        
</div>


{% endblock %}